<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Track App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/start}">Home</a>
                    <a class="dropdown-item" th:href="@{/account}">Account</a>
                    <a class="dropdown-item" th:href="@{/createGoal}">Create Goal</a>
                    <a class="dropdown-item" th:href="@{/allGoal}">All Goals</a>
                </div>
            </div>
        </div>
        <div class=" my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" th:href="@{/}" type="submit">Login</button>
        </div>
    </nav>
</div>