<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fitness Tracker</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/start.css}">
</head>

<body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <h2>Create Goal:</h2>
    <br>
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Distance</option>
                <option>Rep</option>
            </select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput1">Goal Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Desired Goal # (reps or distance)</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ex: 52">
        </div>
        <label for="formGroupDate">Completion Date: </label>
        <div class="form-row" id="formGroupDate">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Date</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="xx" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Month</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="xx" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom03">Year</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="xxxx" required>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-primary">Submit</button>
</body>